.header {
    background-color: #1f2937;
    padding: 0px 50px 100px 50px;
}

.front img {
    width: 600px;
    height: 300px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text {
    font-size: 24px;
    color: f9faf8;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 24px;
    padding: 8px 16px;
}



.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 52px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.info img {
    width: 230px;
    height: 170px;
    border-radius: 8px;
}

.info .text {
    color: gray;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 100px;
}

.goat {
    margin-top: 30px;
    text-align: right;
}


.action {
    background-color: #3882f6;
    border-radius: 8px;
    
}





.footer {
    background-color: #1f2937;
    color: #f9faf8;
}